.singInButton{
    height: 3rem;
    border-radius: 3rem;
    background: var(--gray-850);
    border: 0;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: bold;

    svg{
        width: 1.25rem;
        height: 1.25rem;
    }

    svg.closeIcon{
        margin-left: 0.75rem;
    }

    svg:first-child{
        margin-right: 1rem;
    }

    transition: filter 0.3s;

    &:hover{
        filter: brightness(0.8);
    }
    
}