*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px "Helvetica neue", Arial, sans-serif;
   
    color: #121214;
    
    h1{
        font-size: 80px;
    }
}

body, input, textarea, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6, strong{
    font-weight: 600;
}